<%- include('partials/head.ejs') %>

<body>
    
    <%- include('partials/navigation.ejs') %>

    <main>
        
        <div class="row m-0 p-0 bg-blue-d text-white">

            <section class="col-xs-12 col-md-6 p-0">
                <img src="/img/bank.jpg" alt="" srcset="" class="w-100 h-100">
            </section>

            <section class="col-xs-12 col-md-6 p-5 d-flex flex-wrap align-items-center">
                <h2>History</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Fuga, molestiae architecto.
                    Magni non ea in ad praesentium atque expedita,
                    ab neque tempora? Iusto harum quidem at alias,
                    eum fugiat sapiente.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Fuga, molestiae architecto.
                    Magni non ea in ad praesentium atque expedita,
                    ab neque tempora? Iusto harum quidem at alias,
                    eum fugiat sapiente.
                    <br><br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Fuga, molestiae architecto.
                    Magni non ea in ad praesentium atque expedita,
                    ab neque tempora? Iusto harum quidem at alias,
                    eum fugiat sapiente.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Fuga, molestiae architecto.
                    Magni non ea in ad praesentium atque expedita,
                    ab neque tempora? Iusto harum quidem at alias,
                    eum fugiat sapiente.
                    <br><br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Fuga, molestiae architecto.
                    Magni non ea in ad praesentium atque expedita,
                    ab neque tempora? Iusto harum quidem at alias,
                    eum fugiat sapiente.
                    
                </p>
            </section>

        </div>

        <div class="container-fluid p-5 bg-light">
            <h2>Team of work</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Fuga, molestiae architecto.
                Magni non ea in ad praesentium atque expedita,
                ab neque tempora? Iusto harum quidem at alias,
                eum fugiat sapiente.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Fuga, molestiae architecto.
                Magni non ea in ad praesentium atque expedita,
                ab neque tempora? Iusto harum quidem at alias,
                eum fugiat sapiente.
                <br><br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Fuga, molestiae architecto.
                Magni non ea in ad praesentium atque expedita,
                ab neque tempora? Iusto harum quidem at alias,
                eum fugiat sapiente.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Fuga, molestiae architecto.
                Magni non ea in ad praesentium atque expedita,
                ab neque tempora? Iusto harum quidem at alias,
                eum fugiat sapiente.
                <br><br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Fuga, molestiae architecto.
                Magni non ea in ad praesentium atque expedita,
                ab neque tempora? Iusto harum quidem at alias,
                eum fugiat sapiente.
            </p>
            
        </div>

        <div class="row m-0 bg-blue-md text-white">
            <section class="col-xs-12 col-md-6 p-0">
                <img src="/img/team.jpg" alt="" srcset="" class="w-100 h-100">
            </section>
            <section class="col-xs-12 col-md-6 p-5 d-flex flex-wrap align-items-center">
                <h2>Projects</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Fuga, molestiae architecto.
                    Magni non ea in ad praesentium atque expedita,
                    ab neque tempora? Iusto harum quidem at alias,
                    eum fugiat sapiente.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Fuga, molestiae architecto.
                    Magni non ea in ad praesentium atque expedita,
                    ab neque tempora? Iusto harum quidem at alias,
                    eum fugiat sapiente.
                    <br><br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Fuga, molestiae architecto.
                    Magni non ea in ad praesentium atque expedita,
                    ab neque tempora? Iusto harum quidem at alias,
                    eum fugiat sapiente.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Fuga, molestiae architecto.
                    Magni non ea in ad praesentium atque expedita,
                    ab neque tempora? Iusto harum quidem at alias,
                    eum fugiat sapiente.
                    <br><br>

                </p>
            </section>
            

        </div>

        <div class="row m-0 bg-blue-d text-white">

            <section class="col-xs-12 col-md-6 p-5 d-flex flex-wrap align-items-center">

                <div>
                    <h2>Office</h2>
    
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Fuga, molestiae architecto.
                        Magni non ea in ad praesentium atque expedita,
                        ab neque tempora? Iusto harum quidem at alias,
                        eum fugiat sapiente.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Fuga, molestiae architecto.
                        Magni non ea in ad praesentium atque expedita,
                        ab neque tempora? Iusto harum quidem at alias,
                        eum fugiat sapiente.
    
                        <br>
                        <br>
    
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Fuga, molestiae architecto.
                        Magni non ea in ad praesentium atque expedita,
                        ab neque tempora? Iusto harum quidem at alias,
                        eum fugiat sapiente.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Fuga, molestiae architecto.
                        Magni non ea in ad praesentium atque expedita,
                        ab neque tempora? Iusto harum quidem at alias,
                        eum fugiat sapiente.
    
                        <br><br>
                        
                    </p>

                </div>

            </section>

            <section class="col-xs-12 col-md-6 p-0">

                <img src="/img/office.jpg" alt="" class="w-100 h-100">

            </section>

        </div>
    </main>

    <%- include('partials/footer.ejs') %>
</body>