<%- include('partials/head.ejs') %>

<body>
    
    <%- include('partials/navigation.ejs') %>

    <div class="row m-0 d-flex justify-content-between bg-blue-d text-white">

        <section class="col-xs-12 col-md-6 p-0">
            <img src="/img/bank.jpg" alt="" class="w-100 h-100">
        </section>    

        <section class="col-xs-12 col-md-6 d-flex flex-wrap align-items-center m-0 p-5">

            <h1>Bank JS! The best bank in the world!</h1>

            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Voluptas, autem?
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Voluptas, autem?
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Voluptas, autem?
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Voluptas, autem?
            </p>
            
            <a href="/" class="btn btn-primary text-white">
                About the bank
            </a>
            
        </section>

    </div>
    
    <div class="container-fluid p-0">

        <section class="p-5 bg-light">
            <h1>Title 1</h1>
            
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Ipsum iste incidunt impedit modi! Dolores error possimus facilis exercitationem voluptate inventore obcaecati totam.
                Quasi ad minima optio aspernatur omnis accusantium at.
        
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Ipsum iste incidunt impedit modi! Dolores error possimus facilis exercitationem voluptate inventore obcaecati totam.
                Quasi ad minima optio aspernatur omnis accusantium at.
            </p>
        </section>
        
        <section class="p-5 text-white bg-blue-md">
            <h1>Title 2</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Ipsum iste incidunt impedit modi! Dolores error possimus facilis exercitationem voluptate inventore obcaecati totam.
                Quasi ad minima optio aspernatur omnis accusantium at.
                
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Ipsum iste incidunt impedit modi! Dolores error possimus facilis exercitationem voluptate inventore obcaecati totam.
                Quasi ad minima optio aspernatur omnis accusantium at.
            </p>
        </section>
        
        <section  class="p-5">
            <h1>Title 3</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Ipsum iste incidunt impedit modi! Dolores error possimus facilis exercitationem voluptate inventore obcaecati totam.
                Quasi ad minima optio aspernatur omnis accusantium at.
                
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Ipsum iste incidunt impedit modi! Dolores error possimus facilis exercitationem voluptate inventore obcaecati totam.
                Quasi ad minima optio aspernatur omnis accusantium at.
            </p>
        </section>


    </div>

    <div class="row m-0 bg-blue-d text-white">
        <section class="imageBox col-xs-12 col-md-6 p-0">
            <img src="/img/card.jpg" alt="" class="w-100 h-100">
        </section>

        <section class="content col-xs-12 col-md-6 d-flex flex-wrap align-items-center m-0 p-5">
            <h3>About the acounts</h3>
            <p>
                With the acounts you can save your money and pay transfering
                money to others on your computer or smarthphone!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque, in!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, dolorem!
            </p>
            <a href="/users/singup" class="btn btn-lg btn-primary">
                Create an Acount!
            </a>
        </section>

    </div>

    <%- include('partials/footer.ejs') %>
</body>
