/*Here is the color palette of the project.
  The colors are focused in bleu because this
  color give an image more "professional".
  For example: BBVA and Mercantil*/

.bg-blue-d{
    background-color: #00267A;
}
.bg-blue-md{
    background-color: #004F9F;
}
.bg-blue-l{
    background-color: #0098BB;
}
.bg-green{
    background-color: #66DAB9;
}
.btn-blue-d{
    background-color: #00267A;
}
.btn-blue-md{
    background-color: #004F9F;
}
.btn-blue-md{
    background-color: #66DAB9;
}
.bg-darker{
    background-color: rgb(10, 10, 10);
}
.bg-orange-dark{
    background-color: #ffd912ff;
}
.bg-orange-medium{
    background-color: #ffec88ff;
}
.bg-orange-light{
    background-color: #fff9d8ff;
}
.color-blue-d{
    color: #00267A;
}
.color-blue-md{
    color: #004F9F;
}
.bg-lose{
    background-color: #ffe7e7ff;
}
.bg-winned{
    background-color: #e7ffefff;
}