.bg-blue-d{
    background-color: #00267A;
}
.bg-blue-md{
    background-color: #004F9F;
}
.bg-blue-l{
    background-color: #0098BB;
}
.bg-green{
    background-color: #66DAB9;
}
.btn-blue-d{
    background-color: #00267A;
}
.btn-blue-md{
    background-color: #004F9F;
}
.btn-blue-md{
    background-color: #66DAB9;
}
.bg-darker{
    background-color: rgb(10, 10, 10);
}