<footer class="bd-footer page-footer bg-darker pt-5 d-flex justify-content-center row mx-0 mt-0">

    <div class="container row text-white col-12 px-5">
        <div class="col-xs-12 col-sm-6">
            <h4>Contact</h4>
    
            <ul class="list-unstyled">
                <li><a href="https://web.whatsapp.com/"  class="link-light text-decoration-none">WhatsApp</a></li>
                <li><a href="https://www.facebook.com/"  class="link-light text-decoration-none">Facebook</a></li>
                <li><a href="https://www.Gmail.com/"     class="link-light text-decoration-none">Gmail</a></li>
                <li><a href="https://www.Instagram.com/" class="link-light text-decoration-none">Instagram</a></li>
                <li><a href="https://www.twitter.com/"   class="link-light text-decoration-none">Twitter</a></li>
            </ul>

        </div>
        <div class="col-xs-12 col-sm-6">

            <h4>Importan Information</h4>
            
            <ul class="list-unstyled">
                <li><a href="/" class="link-light text-decoration-none">Privacity</a></li>
                <li><a href="/" class="link-light text-decoration-none">Contract</a></li>
                <li><a href="/" class="link-light text-decoration-none">Terms of Use</a></li>
                <li><a href="/" class="link-light text-decoration-none">Institutional Philosophy</a></li>
            </ul>

        </div>
    </div>

    <div class="container-fluid text-white d-flex justify-content-center align-items-center col-12">
        <h6>Bank Lorem Rif: 32165413210</h6>
    </div>

</footer>