<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-4">

    <div class="container-fluid">
  
      <a class="navbar-brand" href="/">Bank</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a href="/"             class="nav-link active" aria-current="page">Home</a>
          <a href="/about"        class="nav-link" >About Us</a>
          <a href="/users/singin" class="nav-link" >Sing In</a>
          <a href="/users/singup" class="nav-link" >Sing up</a>
          <a href="/users/logout" class="nav-link" >Log out</a>
        </div>
      </div>

    </div>
</nav>